.about{
  position: relative;
  background-image: url("../img/pricing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__header{
    @include typography(700,48px,50px);
    width: 100%;
    text-align: center;
    padding-top: 108px;
    margin-bottom: 82px;
    color: $whiteColor;
  }

  &__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 112px;

    &-card{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      row-gap: 33px;
      align-items: center;
    }
  }

  &__footer{
    @include typography(400,14px,21px);
    text-align: center;
    width: 80%;
    margin: 118px auto 0;
    padding-bottom: 20px;
    color: #A291A6;
  }

  &__footer::before{
    content: '';
    position: absolute;
    width: 53%;
    height: 2px;
    left: 23%;
    bottom: 0;
    background: #645767;
  }
}

.card{
 
  &-text{
    @include typography(700,16px,24px);
    font-style: italic;
    color: $whiteColor;
  }
}