.benefits {
  background-color: #f4f4f4;
  padding-top: 98px;
  padding-bottom: 32px;

  &__pic{
    justify-self: right;
    grid-area: pic;
  }

  &__items{
    grid-area: items;
  }

  &__title{
    grid-area: title;
  }

  &__block {
    display: flex;
  }

  &__item {
    display: flex;

    &-img {
      display: flex;
      justify-content: center;
      width: 50%;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      width: 100%;
    }

    &-title {
      color: #323232;
      text-align: left;
      padding-bottom: 17px;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }

    &-text {
      font-size: 14px;
      color: #848e97;
      padding-bottom: 34px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: #8d81ac;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
  }
}
