.header {
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  &__navbar {
    display: flex;
    justify-content: flex-end;
    width: 62%;
  }

  &__burger {
    display: none;
  }

  &__inner {
    color: #8D81AC;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
  }

  .header__logo {
    display: flex;
    align-items: center;

    &-link {
      text-decoration: none;
      color: $primaryColor;
      padding-left: 17px;
    }

    &-title {
      @include typography(700, 24px, 16px);
      text-transform: uppercase;
    }
  }
}

.header__logo:hover .header__logo-link {
  color: $whiteColor;
}

.header__logo:hover .header__logo-picture {
  content: url("../img/logo11.png");
}

.header__list {
  display: flex;
  align-items: center;

  &-btn {
    width: 145px;
    height: 37px;
    background-color: $primaryColor;
    border-radius: 40px;
    padding-right: 0;
    border: solid 1px $primaryColor;
  }

  &-btn:hover {
    background-color: $whiteColor;
    border: solid 1px $primaryColor;
    transition: all 0.4s linear;
    overflow: hidden;
  }
  &-btn span {
    @include typography(700,16px,17px);
    color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-btn:hover span {
    color: $primaryColor;
  }

  &-item {
    @include typography(700, 16px, 17px);
    padding-right: 48px;
  }

  &-item:nth-child(4){
    padding-right: 0;
  }

  &-link {
    color: $primaryColor;
    text-decoration: none;
  }

  &-link:hover {
    color: $whiteColor;
  }
}

.header__capture {
  text-align: center;

  &-title {
    @include typography(700, 82px, 82px);
    color: $whiteColor;
    padding-top: 112px;
  }

  &-subtitle {
    @include typography(400, 30px, 30px);
    color: $primaryColor;
    padding-top: 19px;
  }

  &-desc {
    @include typography(400, 16px, 16px);
    color: #848E98;
    padding-top: 19px;
    padding-bottom: 476px;
  }
}