@media (min-width: 320px) and (max-width: 480px) {

  /**------------=--------=-------=------  start Header  -----=-------=------=---------*/
  .header {
    display: block;
    background-position: center;

    &__list-btn span {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      line-height: 15px;
      font-weight: 700;
    }

    &__inner {
      height: 103px;
      background-color: #27262A;
      padding: 0 10px;
      align-items: center;
      position: fixed;
      width: 100%;
      z-index: 999;
    }

    &__logo-title {
      display: none;
    }

    &__list {
      display: block;
      position: fixed;
      padding-top: 107px;
      overflow: auto;

      &-item {
        @include typography(400, 26px, 26px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 29px;
      }

      &-link {
        color: #FFFFFF;
        position: relative;
      }

      &-link:hover {
        color: $primaryColor;
        font-weight: 500;
      }

      &-link:hover::before {
        position: absolute;
        display: block;
        content: '';
        width: 8px;
        height: 53px;
        background-color: $primaryColor;
        left: -29px;
        top: -12px;
      }
    }

    &__navbar {
      display: block;
      margin: 0 auto;
      position: absolute;
      overflow: auto;
    }

    &__capture {
      padding: 103px 10px 0 10px;
      margin-bottom: -42px;

      &-title {
        font-size: 48px;
        line-height: 48px;
        padding-top: 50px;
      }

      &-subtitle {
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
      }

      &-desc {
        text-transform: uppercase;
        line-height: 14px;
        font-size: 14px;
        padding-bottom: 394px;
      }
    }
  }
  .header__burger {
    display: block;
    width: 44px;
    height: 44px;
    position: relative;
    bottom: 8px;
    right: 11px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    background-color: $whiteColor;
    transition: all 0.3s ease 0s;
    width: 30px;
    height: 5px;
    border-radius: 7px;
    position: absolute;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
  }

  .header__burger::before {
    top: 18px;
  }

  .header__burger::after {
    bottom: 3px;
  }

  .header__burger span {
    bottom: 12px;
    transform: scale(1);
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span {
    transform: scale(0)
  }

  .header__burger.active::after {
    transform: rotate(45deg);
    bottom: 11px;
    height: 8px;
    width: 40px;
  }

  .header__burger.active::before {
    transform: rotate(-45deg);
    top: 24px;
    height: 8px;
    width: 40px;
  }

  .header__list {
    position: fixed;
    top: -140%;
    left: 10px;
    right: 10px;
    background-color: #333333;
    transition: all 0.5s linear;
    margin-top: 103px;
    height: 344px;
    padding-top: 0;
    overflow: auto;
  }

  .header__list.active {
    top: 0;
  }

  .revolutionary__info {
    width: 290px;
    height: 45px;
    z-index: 1;

    &-desc {
      font-size: 18px;
      line-height: 20px;
    }

    &-desc h3 {
      padding: 10px;
    }
  }

  .revolutionary__text {
    font-size: 14px;
    line-height: 14px;
  }

  /** -------=-------=-------=  end  Header   =-----=------=---------*/
  /** -------=-------=-------=  start  Revolutionary   =-----=------=---------*/

  .revolutionary {
    padding: 0 10px;

    &__block-title {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 27px;
    }

    &__block-text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 36px;
    }
  }
  /** -------=-------=-------=  end  Revolutionary   =-----=------=---------*/

  /** -------=-------=-------=  start  Benefits   =-----=------=---------*/

  .benefits {
    padding-top: 32px;
    background-color: rgba(0, 0, 0, 0.0001);

    &__title {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
    }

    &__block {
      grid-template-columns: 1fr;
      grid-template-areas: 'title' 'items' 'pic';
      display: grid;
    }

    &__pic {
      height: 381px;
      width: 100%;
    }

    &__item {
      flex-direction: column;
      align-items: center;

      &-img {
        padding: 40px 0 27px;
      }

      &-info {
        align-items: center;
        text-align: center;
      }

      &-text {
        padding: 0 10px;
      }
    }

    &__box {
      padding-right: 10px;
    }
  }
  /** -------=-------=-------=  end  Benefits   =-----=------=---------*/

  /** -------=-------=-------=  start  About   =-----=------=---------*/

  .about {
    padding-bottom: 10px;
    margin-bottom: -16px;

    &__header {
      @include typography(700, 36px, 48px);
      padding-top: 57px;
      margin-bottom: 53px;
    }

    &__content {
      row-gap: 45px;

      &-card {
        width: 90%;
      }
    }

    &__footer {
      width: 90%;
      margin: 37px auto 0;
    }
  }

  /** -------=-------=-------=  end  About   =-----=------=---------*/

  /** -------=-------=-------=  start Pricing   =-----=------=---------*/

  .pricing {
    padding-top: 14px;

    &__header {
      @include typography(700, 28px, 42px);
      padding-top: 14px;
      margin-bottom: 32px;
    }

    &__cards {
      flex-wrap: wrap;
      row-gap: 18px;

      &-card {
        width: 90%;
      }
    }
  }
  /** -------=-------=-------=  end Pricing   =-----=------=---------*/
}

/********************************************************* Tablet  ***********************/

@media (min-width: 481px) and (max-width: 992px) {
  /** -------=-------=-------=  start Header   =-----=------=---------*/
  .header {
    display: block;
    background-position: center;

    &__inner {
      background-color: #27262A;
      align-items: center;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 42px;
      z-index: 999;
    }

    &__navbar {
      order: 1;
      margin-left: 0;
      margin-top: 23px;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    &__logo {
      margin-left: 20px;
    }

    &__list {
      margin-bottom: 18px;

      &-item {
        padding-right: 0;
        margin-right: 27px;
      }

      &-item:nth-child(4) {
        margin-right: 0;
      }

      &-button {
        margin-right: 20px;
      }
    }

    &__capture {
      padding-top: 110px;

      &-title {
        font-size: 72px;
        line-height: 72px;
      }

      &-subtitle {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
  /** -------=-------=-------=  end Header   =-----=------=---------*/

  /** -------=-------=-------=  start Revolutionary   =-----=------=---------*/

  .revolutionary {
    padding: 0 10px;

    &__block-title {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 33px;
    }

    &__block-text {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
  /** -------=-------=-------=  end Revolutionary   =-----=------=---------*/

  /** -------=-------=-------=  start Benefits   =-----=------=---------*/

  .benefits {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.0001);
    padding-bottom: 0;

    &__block {
      grid-template-columns: 1fr;
      grid-template-areas: 'title' 'items' 'img';
      display: grid;
    }

    &__item {
      padding-top: 40px;
    }

    &__title {
      font-size: 42px;
      line-height: 44px;
      text-align: center;
    }

    &__pic {
      width: 100%;
      padding-right: 10px;
    }

    &__box {
      padding-top: 62px;
    }
  }
  /** -------=-------=-------=  end Benefits   =-----=------=---------*/

  /** -------=-------=-------=  start About   =-----=------=---------*/

  .about {
      padding-bottom: 10px;
      margin-bottom: -10px;

      &__header {
        padding-top: 86px;
      }

    &__header {
      @include typography(700, 42px, 44px);
    }

    &__content {
      row-gap: 58px;

      &-card {
        width: 40%;
      }
    }

    &__footer {
      width: 90%;
      margin: 68px auto 0;
    }
  }
  /** -------=-------=-------=  end About   =-----=------=---------*/

  /** -------=-------=-------=  start Pricing   =-----=------=---------*/

  .pricing {
    &__header {
      @include typography(700, 42px, 44px);
      padding-top: 88px;
    }

    &__cards {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 25px;
      row-gap: 70px;

      &-card {
        width: 35%;
      }
    }
  }
  /** -------=-------=-------=  end Pricing   =-----=------=---------*/
}

@media (min-width: 993px) and (max-width: 1200px) {
  .header__inner {
    padding-right: 10px;
    padding-left: 10px;
  }

  .benefits__box {
    width: 50%;
  }

  .benefits__item {
    padding-bottom: 15px;
  }

  .benefits__item:nth-child(4) {
    padding-bottom: 0
  }

  .about {
    padding-bottom: 10px;
    margin-bottom: -10px;
  }
}









