.pricing{
  background-image: url(../img/pricing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $whiteColor;
  margin-top: -4px;

  &__header{
    @include typography(700, 48px, 50px);
    width: 100%;
    text-align: center;
    padding-top: 112px;
    margin-bottom: 61px;
  }

  &__cards{
    display: flex;
    justify-content: space-around;

    &-card{
      text-align: center;
      width: 21%;
      margin: 2% 2%;
      background: rgba(255, 255, 255, 0.12);
    }
    &-card:hover{
      background: rgba(70, 48, 72, 0.84);
      margin: 0 0;
      transition: 0.2s;
    }
  }
}

.card{
    &-header{
        @include typography(400, 24px, 24px);
        padding: 36px 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.06);
    }
    &-header:hover{
      background: rgba(0, 0, 0, 0.11);
      padding: 43px 0;
      transition: 0.2s;
    }
    &-price{
        @include typography(700, 60px, 90px);
        margin-top: 29px;
    }
    &-price:hover{
      @include typography(700, 82px, 90px);
      margin-top: 14px;
      transition: 0.2s;
    }
    &-permonth{
        @include typography(400, 14px, 16px);
        margin-top: 20px;
    }
    &-line{
      width: 20%;
      height: 5px;
      background: #8D81AC;
      margin: 38px auto;
    }
    &-info{
      @include typography(400, 16px, 18px);
      width: 85%;
      margin: 0 auto;
      min-height: 50px;
    }
    &-btn{
      @include typography(400, 15px, 15px);
      width: 40%;
      margin: 40px auto;
      padding: 15px 37px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.15);
    }

    &-btn:hover{
      background-color: $whiteColor;
      transition: all .2s linear;
    }

    &-btn:hover a{
      color: $primaryColor;
    }

    &-btn a{
      text-decoration: none;
      color: $whiteColor;
    }
}

