.revolutionary {
  background-color: $whiteColor;

  &__info {
    margin: 0 auto;
    width: 390px;
    height: 62px;
    background-color: $primaryColor;
    border-radius: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    border: 2px solid $primaryColor;
    position: relative;
    z-index: 1;


    &-desc {
      @include typography(700, 21px, 22px);
      color: $whiteColor;
      text-align: center;
      text-decoration: none;
      position: relative;
      z-index: 1;
    }

    &-desc:hover {
      color: $primaryColor;
      transition: all 0.4s linear;
      overflow: hidden;
      position: relative;
    }

    &-desc h3 {
      padding-top: 20px;
      position: relative;
    }
  }

  &__info:hover {
    background-color: $whiteColor;
    border: 2px solid $primaryColor;
    overflow: hidden;
    transition: font-weight .3s;
  }

  &__text {
    @include typography(400, 14px, 15px);
    text-align: center;
    color: $primaryColor;
  }

  &__block {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px 0;


    &-title {
      @include typography(700, 54px, 54px);
      color: #635C73;
      padding-bottom: 35px;
      text-transform: uppercase;
    }

    &-text {
      @include typography(400, 21px, 32px);
      max-width: 865px;
      color: #323232;
      text-align: center;
      margin-bottom: 13px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &-item {
      margin-right: 4px;
      margin-left: 5px;
      padding-bottom: 20px;
    }

    &-link {
      text-decoration: none;
      color: #24292e;
      font-size: 14px;
      padding: 3px 10px;
      border: 1px solid #24292e;
      border-radius: 3px;
      border-color: rgba(27, 31, 35, .13);
      background-color: #eff3f6;
      background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      font-family: Lato-Bold, sans-serif;
      font-weight: 700;
    }

    &-link:hover{
      border: 1px solid #625151;
      background-color: #5c769f;
      background-image: linear-gradient(-180deg,#fafbfc,#dde8f1 90%);
      transition: all .2s linear;
    }

    &-count{
      text-decoration: none;
      color: #24292e;
      font-size: 14px;
      padding: 3px 10px;
      border: 1px solid #24292e;
      border-radius: 3px;
      border-color: rgba(27,31,35,.13);
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      font-family: Lato-Bold,sans-serif;
      font-weight: 700;
      cursor: pointer;
    }

    &-count:hover{
      color: #2054e4;
      transition: all .2s linear;
    }
  }
}