@import "./reset";
@import "./variables";
@import "./mixin";
@import "./fonts";
@import "./Header";
@import "./Revolutionary";
@import "./Benefits";
@import "./About";
@import "./Pricing";
@import "./media";


.container{
  max-width: $maxWidthContainer;
  margin: 0 auto;
}


body.lock{
  overflow: hidden;
}

body.opacity{
  background: antiquewhite;
}

.header__list.active{
  top: 0;
}

.none{
  display: none;
}

.block{
  display: block;
}